.brand {
	text-align: center;
	font-family: 'Brush Script MT', cursive;
	font-size: 70px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
}

.headers {
	font-family: 'Lucida Bright', Georgia, serif;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
}

.newsletter-headers {

	font-family: 'Lucida Bright', Georgia, serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
}

.addNewsButton {
	float: right;

}