<!-- Header -->
<div class="container" data-ng-controller="HeaderController">
	<div class="navbar-header">
		<a href="/#/" class="navbar-brand">Newsletter</a>
	</div>
	<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
			<li ui-route="/signup" ng-class="{active:$uiRoute}">
				<a href="/#/signup">Sign up</a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active:$uiRoute}">
				<a href="/#/signin">Sign in</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
			<li class="navbar-text">
				Signed in as: {{authentication.user.email}}
			</li>
			<li class="active">
				<a href="/auth/signout">Signout</a>
			</li>
		</ul>
	</div>
</div>
