<!-- Add news to Newsletter -->
<div class="container" data-ng-controller="AddNewsController">
	<form class="form-horizontal" ng-submit="addNews()">
		<div class="form-group">
			<h4>{{newsletter.newslettertitle}}</h4>
			<!-- Show all related news to current Newsletter -->
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>News title</th>
						<th>Added by</th>
					</tr>
				</thead>
				<tbody ng-repeat="n in newsletter.news">
					<tr class="alert alert-warning" ng-click="showDescription($index)">
						<td>{{n.title}}</td>
						<td>{{n.addedBy}}</td>
					</tr>
					<tr ng-show="n.show" class="alert alert-warning">
						<td> Description:
		      				<textarea class="form-control" rows="3">{{n.content}}</textarea>
		      			</td>
		      			<td></td>
		      		</tr>
		      	</tbody>
			</table>
		</div>
		<div class="form-group">
			<h4 class="text-center"> Create news </h4>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label"> Title </label>
			<div class="col-sm-10">
				<input type="text" class="form-control" ng-model="news.title" placeholder="News title"></input>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label"> Description </label>
			<div class="col-sm-10">
				<textarea class="form-control" ng-model="news.content" placeholder="News description"></textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-success"> Add News </button>
			</div>
		</div>
	</form>
</div>