<!doctype html>
<html>
<head>
    <title>Newsletter</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
    <div class="container">

        <div class="jumbotron text-center">

            <p>Login or Register with:</p>

            <a href="/login" class="btn btn-default">Local Login</a>
            <a href="/signup" class="btn btn-default">Local Signup</a>
        </div>
        <div>
            You are logged as:
            <strong> 
                <% if(user) { %>
                    <%= user.local.username %>
                <% } else {%>
                    ---
                 <% } %>   
            </strong>
        </div>
    </div>
</body>
</html>
